<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>COMPUTER ENGINEERING DEPARTMENT</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
.navbar-collapse {
    background-color: #000000;
    border-color: #000000;
}
.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}
.wrapper {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-size: cover;
}
</style>
    
    

    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
               </div>
               <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/about"><b>About</b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Academics</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/academics/#HOD"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOD'S DESK</a>
                            </li>
                            <li>
                                <a href="/academics/#VISION"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;VISION</a>
                            </li>
                            <li>
                                <a href="/academics/#RESOURCES"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;RESOURCES</a>
                            </li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Downloads</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>
                                 <a href="/download"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;DOWNLOADS</a>
                            </li>
                            <li>
                                 <a href="/download/previous_records"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PREVIOUS YEAR RESOURCES</a>
                            </li>
                            <li>
                                <a href="/download/time_table"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TIME TABLE</a>
                            </li>
                            <li>
                                <a href="/download/syllabus/"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;SYLLABUS</a>
                            </li>

                        </ul>
                    </li>


                     <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Campus</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                 <a href="/campus/college/#college"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;COLLEGE</a>
                            </li>
                            <li>
                                <a href="/campus/college/#labs"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;LABS</a>
                            </li>
                            <li>
                                <a href="/campus/college/#hostel"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOSTEL</a>
                            </li>

                        </ul>
                    </li>



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Faculty</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/faculty"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TEACHING STAFF</a>
                            </li>
                            <li>
                                <a href="/faculty_non_teaching"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;NON TEACHING STAFF</a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Placements </b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/placement_rec"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT CELL</a>
                            </li>
                            <li>
                                <a href="/placement_extended"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT RECORDS</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li >
                    <a href="/"><i class="fa fa-fw fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>HOME</b></a>
                </li>
                <li>
                    <a href="#college"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;College</a>
                </li>
                <li>
                    <a href="#labs"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Labs</a>
                </li>
                <li>
                    <a href="#hostel"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hostel</a>
                </li>
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <div class="row">
            <div class="col-lg-12">
             
              

</br>


 <div id="college"> 
                   <h1 class="page-header"><b>DEPARTMENT OF COMPUTER ENGINEERING</b></h1>
   <div class = "row">    
           </br>
                
            <p align="justify">The institute's infrastructure is modern with well-equipped facilities. The classrooms/ lecture halls in the college are fully furnished. The Department has Eminent Faculty Members. A variety of teaching and learning techniques are employed to impart knowledge and skills to students. Over the years, Department of Computer Engineering has provided the highest quality technical education to students from all over India. Pure academics are supplemented by pervasive industry engagement and every student is exposed to practical applications of classroom knowledge under a structured semester-long engagement programme. </p>

 
          </div>
</div>
</br>
</br>





</br>
</br>


 <div id="college_gallery"> 
<div class = "row">
    <div class = "com-md-12">
        <div class="panel-heading">
          
            </div>
            <div id="GALLERY_campus"> 
                      
{% for post in posts %}
{% if post.gallery_college %}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="../../../{{ post.gallery_college.url }}" alt="..."height="620" width="520" >
    </a>
  </div>
  {% endif %}
{% endfor %}
           
        </div>
    </div>
</div>
   </div>





 <div id="labs"> 
</br>
</br></br>
</br>













                   <h2 class="page-header">LABS:</h1>
   <div class = "row">    
           </br>
           <p align="justify">The labs are staffed and administered by the Computer Engineering department. Computer labs are equipped with specialized instructional technology equipment (HD data projectors) and are fully air conditioned. Computer platforms include Windows, and Unix (Linux). An extensive software library is maintained in all labs. Capacity in computer labs ranges from thirty to forty workstations, and locations are distributed throughout the department. The computer laboratory are equipped with 60 P-IV nodes on LAN system with free internet access facility. Most labs are open daily, from early in the morning until evening. </p>

 
          </div>
</div>
</br>
</br>










 <div id="labs_gallery"> 
<div class = "row">
    <div class = "com-md-12">
        <div class="panel-heading">
               
            </div>
            <div id="GALLERY_campus"> 
           
{% for post in posts %}
{% if post.gallery_labs %}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="../../../{{ post.gallery_labs.url }}" alt="..."height="100" width="180" >
    </a>
  </div>
  {% endif %}
{% endfor %}
           
        </div>
    </div>
</div>
   </div>



</br>
</br>







 <div id="hostel"> 
                   <h2 class="page-header">HOSTELS</h2>
   <div class = "row">    
           </br>
           <p align="justify">The institute provides separate hostel facilities for boys and girls. The hostels are nestled in lush green surroundings with open courtyards in most of them. No two hostels are alike. There is also sufficient parking facility for bicycles and two wheelers. There is Mess facility for students in each block of hostel.  The messes operate on ‘no profit – no loss’ basis and cater to the taste of students from all regions of the country. All in all, the hostel life in our University is one of the most enviable among the student community, providing the students with a conducive atmosphere for research and learning.</p>
 
          </div>
</div>
</br>
</br>








 <div id="hostel_gallery"> 
<div class = "row">
    <div class = "com-md-12">
        <div class="panel-heading">

            </div>
            <div id="GALLERY_campus"> 
            
{% for post in posts %}
{% if post.gallery_hostel %}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="../../../{{ post.gallery_hostel.url }}" alt="..."height="520"  >
    </a>
  </div>
  {% endif %}
{% endfor %}


           
        </div>
    </div>
</div>
   </div>



</br>
</br>






















































</div>
</div>

</div>
</div>


    <!-- /#wrapper -->

    <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    

</body>

</html>
