<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>COMPUTER ENGINEERING DEPARTMENT</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
.navbar-collapse {
    background-color: #000000;
    border-color: #000000;
}
.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}
.wrapper {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-size: cover;
}

.wraper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-size: cover;
}
</style>
    
    

    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
               </div>
               <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/about"><b>About</b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Academics</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/academics/#HOD"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOD'S DESK</a>
                            </li>
                            <li>
                                <a href="/academics/#VISION"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;VISION</a>
                            </li>
                            <li>
                                <a href="/academics/#RESOURCES"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;RESOURCES</a>
                            </li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Downloads</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>
                                 <a href="/download"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;DOWNLOADS</a>
                            </li>
                            <li>
                                 <a href="/download/previous_records"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PREVIOUS YEAR RESOURCES</a>
                            </li>
                            <li>
                                <a href="/download/time_table"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TIME TABLE</a>
                            </li>
                            <li>
                                <a href="/download/syllabus/"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;SYLLABUS</a>
                            </li>

                        </ul>
                    </li>


                     <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Campus</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                 <a href="/campus/college/#college"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;COLLEGE</a>
                            </li>
                            <li>
                                <a href="/campus/college/#labs"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;LABS</a>
                            </li>
                            <li>
                                <a href="/campus/college/#hostel"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOSTEL</a>
                            </li>

                        </ul>
                    </li>



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Faculty</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/faculty"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TEACHING STAFF</a>
                            </li>
                            <li>
                                <a href="/faculty_non_teaching"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;NON TEACHING STAFF</a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Placements </b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/placement_rec"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT CELL</a>
                            </li>
                            <li>
                                <a href="/placement_extended"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT RECORDS</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                </li>
                <li >
                    <a href="/"><i class="fa fa-fw fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>HOME</b></a>
                </li>
                <li>
                    <a href="#about"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT</a>
                </li>
                <li>
                    <a href="#locate"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOCATE US!</a>
                </li>
               
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <div class="row">
            <div class="col-lg-12">
             
              

</br>
<br>
<br>

 <div id="about"> 
  <div class="wraper" style="background-image: url('/static/images/group.PNG');"></div>
                   <h1 class="page-header"><b>ABOUT</b></h1>
   <div class = "row">    
           </br>
                
           <p align="justify">

 
In view of the increasing importance of the Engineering Sciences, University College of Engineering was established in 2003 to offer Bachelor of Technology degree in the field of Computer Engineering, Electronics & Communication Engineering and Mechanical Engineering. Keeping in view the need of infrastructure development sector, the college has started Bachelor of Technology of Civil Engineering in August 2012.  In the next year, the University College of Engineering was been bifurcated into five separate departments i.e. 'Computer Engineering', 'Electronics and Communication Engineering', ‘Mechanical Engineering’, ‘Civil Engineering’ and ‘Basic Applied Sciences’.
The Department has always been on a high growth path and to keep pace with the current technological trends, the Department has started an M.Tech. programme(Regular) in Computer Engineering in 2009 and M.Tech in Computer Engineering programme (Part-Time) in 2011. 
Department has more than 1000 students enrolled for UG, PG courses including research scholars of Ph. D. The biggest strength of department is its 37 regular faculty members with vast experience in teaching and research.
The Department has strong research groups in the broad areas of: Digital Image Processing, Natural Language Processing, Network Security, Cloud Computing, Data Mining, Bio-informatics, Soft Computing.
Earlier it was part of University College of Engineering, established in 2003. Now it has been working as a separate department since September, 2013 with a goal to impart Quality Education in the area of Engineering and Technology.

 </p>
 
          </div>
</div>
</br>
</br>





</br>
</br>


 <div id="locate"> 
<div class = "row">





                   <h1 class="page-header"><b>LOCATION</b></h1>
<div class = "col-md-6">

       <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="542" height="343" src="https://maps.google.com/maps?hl=en&q=Punjabi university patiala&ie=UTF8&t=roadmap&z=13&iwloc=B&output=embed"></iframe>
</div>
<div class = "col-md-6">
<div class="container">
      <div class="col-md-4">
                    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Phone:</b>
                         0175 304 6366
                    </h3>
                    
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Email:</b>&nbsp;ce.pup@gmail.com</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div id="address" style="padding-left:45px;">
    <div id="c1" style="width:40%; float:left;">
    <h3><b>Address</b>:</h3>
    </div>
    <div id="c2" style="width:60%; float:right;">
<h3>Urban Estate Phase  II,Urban Estate, Patiala, Punjab 147002 </h3>
    </div> 
</div> 

                    
                </div>
                
</div>
     

</div>
   </div>




</div>
</div>

</div>
</div>
</div>
</div>


    <!-- /#wrapper -->

    <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    

</body>

</html>
