<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <title>INTERNATIONAL CONFERENCE ON RECENT TRENDS IN COMPUTING (ICRTC-2016)</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 <header class="header-image">
        <div class="headline">
            <div class="container">
             
                <h3>1st
                    International Conference On <br><b>Recent Trends In Computing</h3><h2>ICRTC-2016</b></h2>
                 <img src="/media/images/index_01.gif"  alt="Punjabi University Patiala"  height="80">
                  <h4><b>PUNJABI UNIVERSITY PATIALA</b></h4>
            </div>
        </div>
    </header>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/icrtc/2"><b>ICRTC-2016</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/icrtc/3">CALL FOR PAPER</a>
                    </li>
                    <li>
                        <a href="/icrtc/4">GUIDELINES TO AUTHORS</a>
                    </li>
                    <li>
                        <a href="/icrtc/5">IMPORTANT DATES</a>
                    </li>
                    <li>
                        <a href="/icrtc/7">REGISTRATION</a>
                    </li>
                     <li>
                        <a href="/icrtc/8">COMMITTEES</a>
                    </li>
                    <li>
                        <a href="/icrtc/6">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->


    <!-- Page Content -->
   

      <br>
        <!-- First Featurette -->
     
   <div class="col-md-1">
   </div>

                        <div class="col-md-10">
                             <h4><b>Committees for International Conference on “Recent Trends in Computing"</b></h4><br>
                <div class="well">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><b>Patron</b></td>
      <td><ul><li>Dr. Lakhwinder Kaur, Prof. & Head</li></ul></td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><b>Conference Chair</b></td>
      <td><ul><li>Dr. Raman Maini, Professor</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><b>Registration Committee</b></td>
      <td><ul><li>Dr. Amardeep Singh, Professor</li><li>Dr. Himanshu Aggarwal, Professor</li><ul></td>
     
    </tr>

    <tr>
      <th scope="row">4</th>
      <td><b>Printing Committee</b></td>
      <td><ul><li>Er. Madan Lal, Assistant Professor- Co-ordinator</li>
<li> Er. Gurjit Singh Bhathal, Assistant Professor</li>
<li> Er. Navneet Kaur, Assistant Professor</li><li> Er. Navroz Kahlon, Assistant Professor</li>
<li>  Er. Anantdeep, Assistant Professor</li>
<li> Er. Amrit Kaur, Assistant Professor</li>
</td>

    </tr>
    <tr>
      <th scope="row">5</th>
      <td><b>T.A./D.A. Committee</b></td>
      <td><ul><li>Er. Harmandeep Singh, Assistant Professor- Co-ordinator</li>
<li>Dr. Gaurav Gupta, Assistant Professor</li>
<li>Mr. Jashanpreet Singh, Assistant Programmer</li>
<li>Mr. Hardeep Singh Ahuja, Lab Attendant</li>
</td>
     
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><b>Stage Arrangement & Reception Committee</b></td>
      <td>

        <ul><li> Er. Harmandeep Singh, Assistant Professor- Co-ordinator<br></li>
<li>Dr. Gaurav Gupta, Assistant Professor<br></li>
<li>Mr. Jashanpreet Singh, Assistant Programmer<br></li>
<li>Mr. Hardeep Singh Ahuja, Lab Attendant<br></li>
</ul>
</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><b>Technical Event Committee</b></td>
      <td><ul><li> Dr. Jaswinder Singh, Assistant Professor (Co-ordinator)
<li> Dr. Williamjeet Singh, Assistant Professor</li>
<li> Er. Dhavleesh Rattan, Assistant Professor</li>
<li> Er. Neelofar Sohi, Assistant Professor</li>
<li> Er. Navneet Kaur, Assistant Professor</li>
<li> Er. Ram Singh, Assistant Professor</li>
<li> Er. Abhinav Bhandari, Assistant Professor</li>
<li> Er. Nirvair Neeru, Assistant Professor</li>
<li> Er. Amrit Kaur (Ph.D. Research Scholar)</li>
<li> Er.Sukhpal Kaur(Ph.D. Research Scholar)</li>
<li> Er. Kuldeep Singh (Ph.D. Research Scholar)</li>
<li> Er. Navdeep Kanwal, Assistant Professor</li>
<li> Er. Rakesh Kumar, Assistant Professor</li>
<li> Er. Supreet Kaur, Assistant Professor</li>
<li> All CE Staff Members</li></ul>
</td>
     
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><b>Website</b></td>
      <td><ul><li> Dr. Raman Maini, Professor – Co-ordinator</li>
<li>  Mr.Jashanpreet Singh, Assistant Programmer</li></ul>
</td>
      
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><b>Purchase Committee</b></td>
      <td><ul><li>  Er. Jaswinder Singh, Assistant Professor</li>
<li>   Er. Harmandeep Singh, Assistant Professor</li>                 
<li>     Er. Madan Lal, Assistant Professor</li>
<li>     Er. Gaurav Gupta, Assistant Professor</li>
<li>     Mrs. Satinderpal Kaur Supdt. Maintenance</li></ul>
</td>
      
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><b>Hospitality & Transportation Committee</b></td>
      <td><ul><li>Er. Sikander Singh Cheema, Assistant Professor</li>
               <li>    Er. Lal Chand, Assistant Professor</li>
<li>  Er. Navdeep Kanwal, Assistant Professor</li>
<li>  Mr. Arun Kumar, Lab Attendant</li>
</td>
    </tr>
     <tr>
      <th scope="row">11</th>
      <td><b>Finance Committee</b></td>
      <td><ul><li>Er. Harmandeep Singh, Assistant Professor</li>
    <li>Er. Gaurav Gupta, Assistant Professor</li></ul>
</td>
      
    </tr>
     <tr>
      <th scope="row">12</th>
      <td><b>Conference Proceeding Committee</b></td>
      <td><ul><li>Er. Abhinav Bhandari, Assistant Professor</li>
              </li>         <li>   Er. Navdeep Kanwal, Assistant Professor</li>
<li> Er. Navdeep Singh, Assistant Professor</li></ul>
</td>
      
    </tr>
     <tr>
      <th scope="row">13</th>
      <td><b>Discipline Committee</b></td>
      <td><ul><li>Er. Jagroop Kaur, Assistant Professor</li>
 <li> Er. Sikander Singh Cheema, Assistant Professor</li>
<li> Er. Gurjit Singh Bhathal, Assistant Professor</li></ul>
</td>
 
    </tr>
      <tr>
      <th scope="row">14</th>
      <td><b>Editing Committee</b></td>
      <td><ul><li>Er. Amrit Kaur, Ph.D. Research Scholar</li>
<li> Er. Sukhpal Kaur, Ph.D. Research Scholar</li>
<li> Er. Kuldeep Singh, Ph.D. Research Scholar</li></ul>
</td>

    </tr>




    
  </tbody>
</table>





                </div>
         

 </div>

 </div><br>
  <div class="col-md-12">
<br>
                <div class="row" style="background-color:#252525" >
                    <div align="right">
                      
                    <h5 style = "margin-right:15px ; padding :10px; color:#EEE" ><b>CREDITS : DEPARTMENT OF COMPUTER ENGINEERING,<br> PUNJABI UNIVERSITY,PATIALA</h5>
          
                </div>
                </div>
            </div>


                <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80766099-1', 'auto');
  ga('send', 'pageview');

</script>

  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
