<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <title>INTERNATIONAL CONFERENCE ON RECENT TRENDS IN COMPUTING (ICRTC-2016)</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
h2 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/icrtc/2"><b>ICRTC-2016</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/icrtc/3">CALL FOR PAPER</a>
                    </li>
                    <li>
                        <a href="/icrtc/4">GUIDELINES TO AUTHORS</a>
                    </li>
                    <li>
                        <a href="/icrtc/5">IMPORTANT DATES</a>
                    </li>
                    <li>
                        <a href="/icrtc/6">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
 

    <!-- Page Content -->
   

      <br>
        <!-- First Featurette -->
      




<div class="container">



                  
            
  

<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><b>
                   GUIDELINES TO AUTHORS:
               </b> </h2>
            </div>

<div id="GUIDELINES_TO_AUTHORS">
            <div class="col-md-12">
                <p align="justify"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>  Prospective authors are invited to submit original technical papers by the deadline August 2, 2016 for publication in the ICRTC-2016 Conference Proceedings.<br><br>

<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>  It is required that the manuscript follows the standard IEEE camera-ready format (IEEE standard format, double column, 10-point font).   Submissions must include title, author and affiliation with email address, abstract and keywords. The IEEE templates in Microsoft Word and LaTeX format can be found at: 
http://www.ieee.org/conferences_events/conferences/publishing/templates.html. All submissions should be written in English with a maximum paper length of Eight (8) printed pages including figures. Only PDF and DOC files will be accepted for the review process.

<br><br>
<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>  All papers will be subjected to peer review by the Technical Program Committee. The Technical Program Committee reserves the right to determine whether a submitted paper is accepted for publication or not. All accepted papers and posters will be published in the proceedings. <br>
<br>
<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>  All submitted papers will be subjected to a "Similarity (plagiarism) Test" by plagiarism checker. Papers achieving a high similarity score will be examined and those that are deemed unacceptable will be rejected without a formal review.<br><br>
<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>   Paper clearing the similarity test will undergo a full paper review.<br><br>
<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>  Acceptance of papers will be communicated to authors via email.
<br><br>
<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>   Accepted papers will be published in ICRTC-2016 proceeding provided that: <br>
•   The final version of the accepted paper is prepared strictly as per IEEE format 
Copyright form is signed;<br>
•   At least one author of the accepted paper must register at the conference by paying the appropriate registration fees;
<br>

</p>
<br><br><br>
</div>                  
            </div>


</div>   
     </div>



</div>
       
</div>


                
<br>
        <!-- Footer -->
       
              
           <div class="row" style="background-color:#252525" >

            <div>
                <div class="row" style="background-color:#252525" >
                    <div align="right">
                      
                    <h5 style = "margin-right:15px ; padding :10px; color:#EEE" ><b>CREDITS : DEPARTMENT OF COMPUTER ENGINEERING,<br> PUNJABI UNIVERSITY,PATIALA</h5>
          
                </div>
                </div>
       
  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
