<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <title>INTERNATIONAL CONFERENCE ON RECENT TRENDS IN COMPUTING (ICRTC-2016)</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
h2 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }</style>
</head>

<body>
 <header class="header-image">
        <div class="headline">
            <div class="container">
             
                <h3>1st
                    International Conference On <br><b>Recent Trends In Computing</h3><h2>ICRTC-2016</b></h2>
                 <img src="/media/images/index_01.gif"  alt="Punjabi University Patiala"  height="80">
 <h4><b>DEPARTMENT OF COMPUTER ENGINEERING ,PUNJABI UNIVERSITY PATIALA</b></h4>            </div>
        </div>
    </header>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/icrtc/2"><b>ICRTC-2016</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/icrtc/3">CALL FOR PAPER</a>
                    </li>
                    <li>
                        <a href="/icrtc/4">GUIDELINES TO AUTHORS</a>
                    </li>
                    <li>
                        <a href="/icrtc/5">IMPORTANT DATES</a>
                    </li>
                    <li>
                        <a href="/icrtc/7">REGISTRATION</a>
                    </li>
                     <li>
                        <a href="/icrtc/8">COMMITTEES</a>
                    </li>
                    <li>
                        <a href="/icrtc/6">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
               

    <!-- Full Width Image Header -->


    <!-- Page Content -->
   

      <br>
        <!-- First Featurette -->
      

   <div class="col-md-2">

   </div>

                        <div class="col-md-8">

                             <h4><b>REGISTRATION FEE</b></h4>
                <div class="well">
                <table class="table">
  <thead class="thead-inverse">

    <tr>
     <th>  </th>
      <th></th>
      <th></th>
      <th>Early Registration By:<br>August 24, 2016</th>
      <th>Late Registration By:<br>August 25, 2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><b>Regular Author</b></td>
      <td><b>Indian<br><br>Foreigner</b></td>
      <td><b>INR 2000<br><br>USD 100</b></td>
      <td><b>INR 3000<br><br>USD 150</b></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Student Author</b></td>
      <td><b>Indian<br><br>Foreigner</b></td>
      <td><b>INR 1500<br><br>USD 75</td>
      <td><b>INR 2500<br><br>USD 100</b></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Attendee/Co-Author Registration</b></td>
      <td></td>
      <td><b>INR 1500</b></td>
      <td><b>INR 2000<b></td>
    </tr>
    </tr>
   
  </tbody>
</table>

 




                </div>
                <p align="justify" ><b> EXCHANGE RATE APPLICABLE FOR FOREIGN DELIGATES </b><br><br><br>
                  <p align="justify" style ="background:#DCDCDC"><br><b> • IFSC CODE : STBP0000009</b><br>
                    <b> • ACCOUNT NO. : 65261611703 </b><br>
                    <b> • NAME OF ACCOUNT  : Recent Trends in Computing(ICRTC-2016) </b><br>
                    <b> ( STATE BANK OF PATIALA PUNJABI UNIVERSITY BRANCH )</b><br><br><br>
                  </p>


<br><br>
                   
                <h4><b>REGISTRATION INSTRUCTIONS: </b></h4><br>
                <p align="justify"><b> • Early Registration DEADLINE: August 18, 2016. </b><br><br>

• Each accepted paper must be accompanied by at least one author registration; otherwise it will be excluded from<b> conference proceedings</b>.
<br><br>
• Attendee or Co-Author delegates need to register by paying Rs. 1500/- as per instructions, followed by submission of scanned copy of registration form at icrtc16@gmail.com"
<br><br>
• No CANCELLATION & REFUND of Registration Fee.
<br><br>
• Please note that the registration fee is only for paper publication, attending the conference etc. Authors should bear all lodging and boarding expense on their own. 
<br><br>
</p>

<h4><b>ACCOMMODATION: </b></h4><br>
                <p align="justify">

Accommodation may be provided to limited number of participants in the Punjabi University, Patiala's Guest House on first come first serve basis. Depending on availability of rooms, accomodation will be provided on single/twin sharing basis. Registeration Fees does not include accommodation charges. Participants interested to avail accommodation in Punjabi University Campus are suggested to inform the organizer's at the earliest.

</p>
<br><br><br>
<h4><b>DOWNLOAD SECTION: </b></h4><br>
 <div class="col-md-3">
<a href="http://www.csepup.ac.in/media/uploads/ICRTC_copyright_form.docx" class="btn btn-info" role="button"> DECLARATION FORM</a></div>

 <div class="col-md-3">
<a href="http://www.csepup.ac.in/media/uploads/icrtc_registration_form_1.docx" class="btn btn-info" role="button">REGISTRATION FORM</a></div>
 <div class="col-md-3">
<a href="http://www.csepup.ac.in/media/uploads/Punjabi_University_Accommodation_form.docx" class="btn btn-info" role="button">ACCOMMODATION FORM</a></div>
 
  <div class="col-md-3">
<a href="http://www.csepup.ac.in/media/uploads/IEEE1_Template.doc" class="btn btn-info" role="button">IEEE SINGLE COLUMN FORMAT</a></div>
 </div>
 </div>


 </div><br>
  <div class="col-md-12">
<br>
                <div class="row" style="background-color:#252525" >
                    <div align="right">
                      
                    <h5 style = "margin-right:15px ; padding :10px; color:#EEE" ><b>CREDITS : DEPARTMENT OF COMPUTER ENGINEERING,<br> PUNJABI UNIVERSITY,PATIALA</h5>
          
                </div>
                </div>
            </div>


                <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80766099-1', 'auto');
  ga('send', 'pageview');

</script>

  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>
