<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>COMPUTER ENGINEERING DEPARTMENT</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
.navbar-collapse {
    background-color: #000000;
    border-color: #000000;
}
.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}
.wrapper {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-size: cover;
}
</style>
    
    

    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
               </div>
               <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/about"><b>About</b></a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Academics</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/academics/#HOD"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOD'S DESK</a>
                            </li>
                            <li>
                                <a href="/academics/#VISION"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;VISION</a>
                            </li>
                            <li>
                                <a href="/academics/#RESOURCES"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;RESOURCES</a>
                            </li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Downloads</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>
                                 <a href="/download"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;DOWNLOADS</a>
                            </li>
                            <li>
                                 <a href="/download/previous_records"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PREVIOUS YEAR RESOURCES</a>
                            </li>
                            <li>
                                <a href="/download/time_table"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TIME TABLE</a>
                            </li>
                            <li>
                                <a href="/download/syllabus/"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;SYLLABUS</a>
                            </li>

                        </ul>
                    </li>


                     <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Campus</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                 <a href="/campus/college/#college"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;COLLEGE</a>
                            </li>
                            <li>
                                <a href="/campus/college/#labs"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;LABS</a>
                            </li>
                            <li>
                                <a href="/campus/college/#hostel"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;HOSTEL</a>
                            </li>

                        </ul>
                    </li>



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Faculty</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/faculty"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;TEACHING STAFF</a>
                            </li>
                            <li>
                                <a href="/faculty_non_teaching"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;NON TEACHING STAFF</a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><b>Placements </b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                 <a href="/placement_rec"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT CELL</a>
                            </li>
                            <li>
                                <a href="/placement_extended"><i class="fa fa-fw fa-arrow-right"></i>&nbsp;&nbsp;PLACEMENT RECORDS</a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                 <li >
                    <a href="/"><i class="fa fa-fw fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>HOME</b></a>
                </li>
                <li>
                    <a href="#HOD"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOWNLOADS</a>
                </li>
                <li>
                    <a href="/download/previous_records/"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RESOURCES</a>
                </li>
                <li>
                    <a href="/download/time_table/"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TIME TABLE</a>
                </li>
                <li>
                    <a href="/download/syllabus/"><i class="fa fa-fw fa-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SYLLABUS</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <div class="row">
            <div class="col-lg-12">
             
              

</br>

 
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
 <div id="HOD"> 
          
                   <h3 class="page-header"><b>DOWNLOAD TIME TABLE</b></h3>

            
               
             
{% for post in posts %}
{% if post.time_table_year %}
                             
                     <div class="list-group">
 
    <h4> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp; <a href="{% url 'post_summary_tt' time_table_year=post.time_table_year %}">{{post.time_table_year}}</h4>
 
</div>
{% endif %}
                  {% endfor%}  
                        
       
     
        <!-- /.row -->
</div>
</br>
</br>
</div>








           
        </div>
    </div>
</div>
</div>






                       <!--  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
